{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h5>Создать заявку</h5>
  {% for field, errors in form.errors.items() %}
      <div class="alert alert-danger" role="alert">
        {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
  {% endfor %}
  <form method="POST">
    {{ form.hidden_tag() }}

    <div class="row">
      <div class="input-field col s6">
        {{ form.datetime_claim(class_="datetime", type="datetime-local") }}
      </div>
      <div class="input-field col s6">
        {{ form.address.label }}
        {{ form.address() }}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        {{ form.description.label }}
        {{ form.description(class_="materialize-textarea") }}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        {{ form.id_service_selection(class_="browser-default") }}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        {{ form.submit(class_="btn teal darken-2") }}
      </div>
    </div>
  </form>
</div>
{% endblock %}